.haiku-user-top
  = link_to root_path, class: "mypage" do
    = icon('fa', 'home')
  .haiku-user-top__user-name
    %span マイページ
.haiku-middle
  = render partial: 'google-map', locals: { haikus: @haikus }
.haiku-btn
  = link_to favorites_path do
    .haiku-btn__favorite
      %span お気に入りの俳句
  = link_to destroy_user_session_path, method: :delete do
    .haiku-btn__logout
      %span ログアウト
  = link_to follows_path do
    .haiku-btn__follow
      %span 友達リスト